<div class="MessagePanel" id="welcomeDiv">
	<div class="home-box">
		<h1> Hi <%= user.username %>,</h1>
		<h2> Ready for the battle ? </h2>
		<img src="" style="padding: 20px 0 0 70px;"/>
	</div>
</div>
