<section id="team">
    <div class="background3"></div>
    <div class="container">
        <div class="row nopadding">
            <div class="col-lg-12 text-center">
                <h2 class="text-white">Our team</h2>
                <h4 class="text-grey">We are all student of Supinfo and passionate of IT and new technologies !</h4>
            </div>
        </div><br><br>
        <div class="row text-center nopadding">
            <div class="col-md-4">
                <img src="/img/team/florian.png" class="img-team">
                <h4 class="text-white">Florian</h4>
                <p class="text-grey">Web Developper</p>
            </div>
            <div class="col-md-4">
                <img src="/img/team/pierre.png" class="img-team">
                <h4 class="text-white">Pierre</h4>
                <p class="text-grey">Web Developper</p>          
            </div>
            <div class="col-md-4">
                <img src="/img/team/guillaume.png" class="img-team">
                <h4 class="text-white">Guillaume</h4>      
            </div>
        </div>
    </div>
</section>